.productDetailContainer {
    background-color: aquamarine;
    width: 100%;
    min-height: 100vh;
    padding: 2rem 0;
}

.productDetail {
    background-color: rgb(50, 133, 205);
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.imageCarousel {
    background-color: blueviolet;
    width: 75%;
    height: fit-content;
    margin: 0 auto;
}

.productImage {
    width: fit-content;
    max-height: 400px;
}

.productInfo {
    background-color: chartreuse;
    padding: 1rem 0;
}

.productName {
    background-color: blue;
    width: 100%;
    height: auto;
    text-align: center;
}

.productDescription {
    background-color: blue;
    width: 100%;
    height: auto;
}

.cuotaMensual {
    background-color: blue;
    width: 100%;
    height: auto;
}

.buttonContainer {
    background-color: black;
    width: 100%;
    height: auto;
    margin: 2rem 0;
}