.productDetailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    height: 100vh;
}

.productDetail {
    display: flex;
    gap: 2rem;
    max-width: 1000px;
    width: 100%;
    padding: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 0vh;
}

/* Carrusel de imágenes */
.imageCarousel {
    flex: 1;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Detalles del producto */
.productInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.productName {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 0.5rem;
}

.productPriceContainer {
    background-color: #536C8D;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.productDescription {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.cuotaMensual {
    font-size: 1rem;
    color: #536C8D;
    margin-top: 0.5rem;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/* Media Queries */

/* Tablets (entre 768px y 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
    .productDetailContainer {
        padding: 1rem;
        height: 100vh;
        /* Ajusta la altura tomando en cuenta la altura de la navbar */
        margin-top: 60%;

        /* Deja espacio para la navbar */
    }

    .productDetail {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }

    .imageCarousel {
        height: 50vh;
        /* Ocupa el 50% de la altura de la vista */
        margin-top: 70px;
        /* Deja espacio para la navbar */
    }

    .productImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
        /* Muestra la imagen completa */
    }

    .productName {
        font-size: 1.75rem;
    }
}

/* Mobile (menos de 768px) */
@media (max-width: 768px) {
    .productDetailContainer {
        padding: 1rem;
        height: calc(100vh);
        /* Ajusta la altura tomando en cuenta la navbar */
        margin-top: 60%;
        /* Deja espacio para la navbar */
    }

    .productDetail {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .imageCarousel {
        height: 50vh;
        /* Ocupa el 50% de la altura de la vista */
    }

    .productImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
        /* Muestra la imagen completa */
    }

    .productName {
        font-size: 1.5rem;
    }
}