.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 40px;
    color: #333;
}

/* Estilo de la Sección de Encabezado */
.headerSection {
    text-align: center;
    padding: 40px 20px;
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 8px;
}

.headerSection h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.headerSection p {
    font-size: 1.2rem;
    color: #666;
}

/* Estilo de la Sección Destacada */
.featuredSection {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.featuredSection h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.featuredContent {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.featuredImage {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

.featuredText {
    flex: 1;
    text-align: left;
}

.featuredText h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.featuredText p {
    font-size: 1.1rem;
    color: #555;
}

/* Estilo de la Galería de Productos */
.gallerySection {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.gallerySection h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.productGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}